KAI_ROUTER_PORT=21434
KAI_COMPRESSOR_PORT=21435
KAI_ROUTER_HF_REPO=LiquidAI/LFM2-350M-GGUF
KAI_ROUTER_GGUF=LFM2-350M-Q4_0.gguf
KAI_ROUTER_MIN_BYTES=100000000
KAI_COMPRESSOR_HF_REPO=LiquidAI/LFM2-350M-GGUF
KAI_COMPRESSOR_GGUF=LFM2-350M-Q4_0.gguf
KAI_COMPRESSOR_MIN_BYTES=100000000
KAI_ALLOWLIST_DEFAULT_TIER=haiku
